<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Assets/Box.png</key>
		<dict>
			<key>frame</key>
			<string>{{3266, 2977}, {470, 430}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {470, 430}}</string>
			<key>sourceSize</key>
			<string>{470, 430}</string>
		</dict>
		<key>Assets/Dave.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1027}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>Assets/Dave_ressurect.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 2055}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>Assets/GameRoom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1283}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>Assets/Huey.png</key>
		<dict>
			<key>frame</key>
			<string>{{2789, 2757}, {475, 474}}</string>
			<key>offset</key>
			<string>{-8, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 19}, {475, 474}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>Assets/Huey_ressurect.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 2275}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>Assets/ItemShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>Assets/SplashScreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2569}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>Assets/arrowBody.png</key>
		<dict>
			<key>frame</key>
			<string>{{80, 3851}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>Assets/arrowHead.png</key>
		<dict>
			<key>frame</key>
			<string>{{80, 3953}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>Assets/arrowLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3972}, {77, 119}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {77, 119}}</string>
			<key>sourceSize</key>
			<string>{80, 120}</string>
		</dict>
		<key>Assets/arrowRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3851}, {77, 119}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {77, 119}}</string>
			<key>sourceSize</key>
			<string>{80, 120}</string>
		</dict>
		<key>Assets/barrel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 3669}, {417, 470}}</string>
			<key>offset</key>
			<string>{-4, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27, 3}, {417, 470}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 1}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>Assets/blob.png</key>
		<dict>
			<key>frame</key>
			<string>{{3271, 2569}, {479, 406}}</string>
			<key>offset</key>
			<string>{0, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 33}, {479, 406}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/ghost.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 2789}, {436, 472}}</string>
			<key>offset</key>
			<string>{3, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25, 5}, {436, 472}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/itemPlaceholder.png</key>
		<dict>
			<key>frame</key>
			<string>{{3213, 3633}, {364, 364}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {364, 364}}</string>
			<key>sourceSize</key>
			<string>{364, 364}</string>
		</dict>
		<key>Assets/potion.png</key>
		<dict>
			<key>frame</key>
			<string>{{2747, 3633}, {464, 440}}</string>
			<key>offset</key>
			<string>{-1, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 25}, {464, 440}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1541}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>Assets/statue.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1}, {512, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 1024}}</string>
			<key>sourceSize</key>
			<string>{512, 1024}</string>
		</dict>
		<key>Assets/stunBait.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 3227}, {440, 470}}</string>
			<key>offset</key>
			<string>{12, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32, 5}, {440, 470}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/vomit.png</key>
		<dict>
			<key>frame</key>
			<string>{{2789, 2275}, {480, 480}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 480}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/wing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2747, 3233}, {398, 470}}</string>
			<key>offset</key>
			<string>{20, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{61, 1}, {398, 470}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{8192, 8192}</string>
		<key>textureFileName</key>
		<string>Assets.png</string>
	</dict>
</dict>
</plist>
