<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Assets/BoxBarrel02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1325, 483}, {480, 420}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 420}}</string>
			<key>sourceSize</key>
			<string>{480, 420}</string>
		</dict>
		<key>Assets/BoxGhost02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1272, 965}, {480, 420}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 420}}</string>
			<key>sourceSize</key>
			<string>{480, 420}</string>
		</dict>
		<key>Assets/BoxSlime02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2111, 1918}, {464, 420}}</string>
			<key>offset</key>
			<string>{8, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {464, 420}}</string>
			<key>sourceSize</key>
			<string>{480, 420}</string>
		</dict>
		<key>Assets/Dave.png</key>
		<dict>
			<key>frame</key>
			<string>{{1399, 3583}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>Assets/Dave_ressurect.png</key>
		<dict>
			<key>frame</key>
			<string>{{674, 1785}, {216, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {216, 200}}</string>
			<key>sourceSize</key>
			<string>{216, 200}</string>
		</dict>
		<key>Assets/Huey.png</key>
		<dict>
			<key>frame</key>
			<string>{{1366, 2505}, {475, 474}}</string>
			<key>offset</key>
			<string>{-8, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 19}, {475, 474}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>Assets/Huey_ressurect.png</key>
		<dict>
			<key>frame</key>
			<string>{{1164, 2763}, {216, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {216, 200}}</string>
			<key>sourceSize</key>
			<string>{216, 200}</string>
		</dict>
		<key>Assets/WHEEL_COOLDOWN.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3135}, {600, 600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {600, 600}}</string>
			<key>sourceSize</key>
			<string>{600, 600}</string>
		</dict>
		<key>Assets/_Arm_Far.png</key>
		<dict>
			<key>frame</key>
			<string>{{1078, 1785}, {196, 376}}</string>
			<key>offset</key>
			<string>{4, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25, 11}, {196, 376}}</string>
			<key>sourceSize</key>
			<string>{238, 390}</string>
		</dict>
		<key>Assets/_Arm_Near.png</key>
		<dict>
			<key>frame</key>
			<string>{{951, 3737}, {230, 446}}</string>
			<key>offset</key>
			<string>{11, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37, 15}, {230, 446}}</string>
			<key>sourceSize</key>
			<string>{282, 472}</string>
		</dict>
		<key>Assets/_Dave.png</key>
		<dict>
			<key>frame</key>
			<string>{{1843, 2401}, {426, 464}}</string>
			<key>offset</key>
			<string>{14, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41, 9}, {426, 464}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/_Huey.png</key>
		<dict>
			<key>frame</key>
			<string>{{2297, 1429}, {418, 464}}</string>
			<key>offset</key>
			<string>{-8, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23, 9}, {418, 464}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/_Legs_Far.png</key>
		<dict>
			<key>frame</key>
			<string>{{719, 3737}, {254, 230}}</string>
			<key>offset</key>
			<string>{-9, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21, 3}, {254, 230}}</string>
			<key>sourceSize</key>
			<string>{314, 236}</string>
		</dict>
		<key>Assets/_Legs_Near.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3737}, {280, 292}}</string>
			<key>offset</key>
			<string>{-2, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 25}, {280, 292}}</string>
			<key>sourceSize</key>
			<string>{306, 328}</string>
		</dict>
		<key>Assets/_Shoulder_Pad.png</key>
		<dict>
			<key>frame</key>
			<string>{{990, 2763}, {228, 172}}</string>
			<key>offset</key>
			<string>{2, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 15}, {228, 172}}</string>
			<key>sourceSize</key>
			<string>{246, 198}</string>
		</dict>
		<key>Assets/_Torso_Dave.png</key>
		<dict>
			<key>frame</key>
			<string>{{1226, 1983}, {520, 464}}</string>
			<key>offset</key>
			<string>{8, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25, 15}, {520, 464}}</string>
			<key>sourceSize</key>
			<string>{554, 486}</string>
		</dict>
		<key>Assets/_Torso_Huey.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807, 2981}, {520, 464}}</string>
			<key>offset</key>
			<string>{8, -11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47, 31}, {520, 464}}</string>
			<key>sourceSize</key>
			<string>{598, 504}</string>
		</dict>
		<key>Assets/arrowBody.png</key>
		<dict>
			<key>frame</key>
			<string>{{821, 3993}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>Assets/arrowHead.png</key>
		<dict>
			<key>frame</key>
			<string>{{719, 3993}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>Assets/arrowLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{283, 4011}, {77, 119}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {77, 119}}</string>
			<key>sourceSize</key>
			<string>{80, 120}</string>
		</dict>
		<key>Assets/arrowRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{404, 4011}, {77, 119}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {77, 119}}</string>
			<key>sourceSize</key>
			<string>{80, 120}</string>
		</dict>
		<key>Assets/arrow_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {900, 1184}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {900, 1184}}</string>
			<key>sourceSize</key>
			<string>{900, 1184}</string>
		</dict>
		<key>Assets/barrel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1878, 1446}, {417, 470}}</string>
			<key>offset</key>
			<string>{-4, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 3}, {417, 470}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/barrelBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456, 1447}, {480, 420}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 420}}</string>
			<key>sourceSize</key>
			<string>{480, 420}</string>
		</dict>
		<key>Assets/barrel_broken.png</key>
		<dict>
			<key>frame</key>
			<string>{{1692, 1929}, {417, 470}}</string>
			<key>offset</key>
			<string>{-4, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 3}, {417, 470}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/barrel_cracked.png</key>
		<dict>
			<key>frame</key>
			<string>{{2102, 957}, {417, 470}}</string>
			<key>offset</key>
			<string>{-4, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27, 3}, {417, 470}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/beer_respawn_timer.png</key>
		<dict>
			<key>frame</key>
			<string>{{603, 3135}, {600, 600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {600, 600}}</string>
			<key>sourceSize</key>
			<string>{600, 600}</string>
		</dict>
		<key>Assets/blob.png</key>
		<dict>
			<key>frame</key>
			<string>{{1694, 965}, {479, 406}}</string>
			<key>offset</key>
			<string>{0, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 33}, {479, 406}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/cd_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{624, 2161}, {600, 600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {600, 600}}</string>
			<key>sourceSize</key>
			<string>{600, 600}</string>
		</dict>
		<key>Assets/cd_wheel_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{674, 1187}, {596, 596}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {596, 596}}</string>
			<key>sourceSize</key>
			<string>{600, 600}</string>
		</dict>
		<key>Assets/ghost.png</key>
		<dict>
			<key>frame</key>
			<string>{{1747, 483}, {436, 472}}</string>
			<key>offset</key>
			<string>{3, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25, 5}, {436, 472}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/ghostBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{1385, 1}, {480, 420}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 420}}</string>
			<key>sourceSize</key>
			<string>{480, 420}</string>
		</dict>
		<key>Assets/gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{283, 3737}, {272, 244}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {272, 244}}</string>
			<key>sourceSize</key>
			<string>{272, 244}</string>
		</dict>
		<key>Assets/indicator.png</key>
		<dict>
			<key>frame</key>
			<string>{{876, 1785}, {200, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Assets/itemPlaceholder.png</key>
		<dict>
			<key>frame</key>
			<string>{{624, 2763}, {364, 364}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {364, 364}}</string>
			<key>sourceSize</key>
			<string>{364, 364}</string>
		</dict>
		<key>Assets/item_container.png</key>
		<dict>
			<key>frame</key>
			<string>{{2521, 945}, {460, 460}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {460, 460}}</string>
			<key>sourceSize</key>
			<string>{460, 460}</string>
		</dict>
		<key>Assets/item_wheel_withWords.png</key>
		<dict>
			<key>frame</key>
			<string>{{1205, 2981}, {600, 600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {600, 600}}</string>
			<key>sourceSize</key>
			<string>{600, 600}</string>
		</dict>
		<key>Assets/potion.png</key>
		<dict>
			<key>frame</key>
			<string>{{2249, 1}, {464, 440}}</string>
			<key>offset</key>
			<string>{-1, -5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7, 25}, {464, 440}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/princess02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1187}, {671, 972}}</string>
			<key>offset</key>
			<string>{-7, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39, 11}, {671, 972}}</string>
			<key>sourceSize</key>
			<string>{764, 992}</string>
		</dict>
		<key>Assets/princess_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2161}, {621, 972}}</string>
			<key>offset</key>
			<string>{-7, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64, 11}, {621, 972}}</string>
			<key>sourceSize</key>
			<string>{764, 992}</string>
		</dict>
		<key>Assets/shadow-knight.png</key>
		<dict>
			<key>frame</key>
			<string>{{529, 3737}, {188, 272}}</string>
			<key>offset</key>
			<string>{1, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57, 11}, {188, 272}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>Assets/shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1913, 3503}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>Assets/slimeBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{903, 483}, {480, 420}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 420}}</string>
			<key>sourceSize</key>
			<string>{480, 420}</string>
		</dict>
		<key>Assets/stunBait.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807, 1}, {440, 470}}</string>
			<key>offset</key>
			<string>{12, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32, 5}, {440, 470}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/vomit.png</key>
		<dict>
			<key>frame</key>
			<string>{{903, 1}, {480, 480}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 480}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
		<key>Assets/wing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2185, 473}, {398, 470}}</string>
			<key>offset</key>
			<string>{20, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61, 1}, {398, 470}}</string>
			<key>sourceSize</key>
			<string>{480, 480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>Assets.png</string>
	</dict>
</dict>
</plist>
